* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(114, 114, 206, 0.668);
    padding: 14px 16px;
}

.navbar #logo {
    color: aliceblue;
    font-size: 25px;
}

.nav-links {
    display: none;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

.hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

.menu-toggle:checked ~ .nav-links {
    display: block;
}

.container {
    display: grid;
    grid-template-areas:
        "sidebar"
        "content";
    gap: 20px;
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f1f1f1;
    padding: 20px;
}

.content {
    grid-area: content;
    background-color: #fff;
    padding: 20px;
}

.menu {
    background-color: #f9f9f9;
}

.menu h1 {
    margin-bottom: 10px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    background-color: #f1f1f1;
    margin-bottom: 8px;
    padding: 10px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 1px solid #ddd;
}

.menu li:hover:not(.active) {
    background-color: #555;
    color: white;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card h3 {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

img {
    width: 400px;
    height: 200px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

@media (min-width: 576px) {
    .navbar {
        justify-content: flex-start;
    }

    .nav-links {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .container {
        grid-template-areas:
            "sidebar content";
        grid-template-columns: 1fr 3fr;
    }

    .productos {
        grid-template-columns: repeat(3, 1fr);
    }
}
